@font-face {
   font-family: 'LLDEtechnoGlitch-Bold0';
   font-display: swap;
   src: url('file:///C:/Users/Nadira/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-04-24_104927/fonts/LLDEtechnoGlitch-Bold0/font.ttf');
}
