@font-face {
   font-family: 'LLDEtechnoGlitch-Bold100';
   font-display: swap;
   src: url('LLDEtechnoGlitch-Bold100/font.ttf');
}
@font-face {
   font-family: 'LLDEtechnoGlitch-Bold0';
   font-display: swap;
   src: url('LLDEtechnoGlitch-Bold0/font.ttf');
}
